.header-image {
    width: 100%;
    padding-bottom: 4%;
}
.popular-row {
    padding: 1em 1em 2em;
}
.card-row {
    padding: 0em 2em 2em;
}
.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.card {
    border: 0px solid black;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.253) !important;
}
.card-body {
    padding: 3rem 0 !important;
}
.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
